@model StudentCourses.MVC.ViewModels.RegistrationViewModel

@{
    ViewBag.Title = "Registrations";
}

<h2>Registrations</h2>

<p>
    <a class="btn btn-primary" @Html.ActionLink("Add New Registration", "Create")</a>
</p>
<table class="table">
    <tr>
        <th>
            StudentId
        </th>
        <th>
            CourseId
        </th>
        <th>
            RegistrationKey
            @*@Html.DisplayNameFor(model => model.RegisterKey)*@
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.CurrentRegistrations)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Student.FirstName)
                @Html.DisplayFor(modelItem => item.Student.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Course.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RegistrationKey)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ID })

            </td>
            <td></td>
        </tr>
    }

</table>
